
@model Product
@{
    ViewData["Title"] = "Add_Pro";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<form method="post" enctype="multipart/form-data">
    <input type="text" placeholder="name" asp-for="Name">
    <input type="number" placeholder="number" asp-for="Price">
    <input type="text" placeholder="number" asp-for="Description">
    <input type="file" name="img" />
    <input type="submit" value=" Add Product" />

</form>
@ViewBag.e

